/* Table Styles */
table.openinghours {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
}

.open th,
.closed th,
.closing th,
.opening th {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.closed td,
.closed th,
.opening td,
.opening th {
  cursor: default !important;
  background-color: var(--closed) !important;
  color: white !important;
}


.open td,
.closed td,
.closing td,
.opening td {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.open th,
  .open td,
  .closing th,
  .closing td {
    background-color: #30CA55 !important;
    /* Green for the current day */
    color: black !important;
  }
/*dark*/
@media (prefers-color-scheme: dark) {
 

  table.openinghours
    td:not(.current-day td, .closed td) {
    background-color: #2c3e50;
    color: #d1e8ff;
    cursor: default;
  }



}

/*light*/
@media (prefers-color-scheme: light) {
  table.openinghours
    td:not(.current-day td, .closed td) {
    background-color: #e9ecef;
    color: black; 
    cursor: default;
  }

  
}




table.openinghours th,
table.openinghours td {
  padding: 12px 14px;
  text-align: left;
  border-radius: 5px;
  /* Add a radius to all table cells */
}

table.openinghours
  th:not(.current-day th, .closed th) {
  background-color: var(--secondary);
  color: var(--text2);
  cursor: default;
}


/* Closed Days Styling */
table.openinghours tr#Sunday td,
table.openinghours tr#Saturday td {
  background-color: #f8d7da;
  color: #721c24;
  font-weight: bold;
}

/*pc*/
@media screen and (min-width: 900px) {
  /* Table Styles */
  table.openinghours {
    border-spacing: 0 10px; /* Increased spacing between rows */
  }

  table.openinghours th,
  table.openinghours td {
    padding: 15px 20px; /* Larger padding */
    border-radius: 8px; /* Larger radius for table cells */
    font-size: 20px; /* Increase table font size */
  }

}
